# Packages required for using the notebooks.
ipywidgets==8.1.1
dtale==3.8.1
Werkzeug==2.3.7
Flask==2.2.2
plotly
jupyter
jupyterlab
netron
jupyter-core>=5.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability